body {
        display: visible;
        background-color: #31415b;
     }

     h1 {
     height: 75px;
     color: #f5f5f5;
     text-align: center;
     }

h {
color: #f5f5f5;
}

          td{
           text-align: center;
           outline: 1px solid black;
            width: 130px;
            height: 75px;
            text-align: center;
            color: #f5f5f5;
          }


          th {
          height: 75px;
          width: 130px;
          outline: 1px solid black;
          text-align: center;
          color: #f5f5f5;
          }



p {
     color: #f5f5f5;
     }
     .wc-form {
         width: 500px;
         }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.Divwidth {
 float: left;
 margin: 0 15px 15px 0;
 height: 200px;
 width: 400px;
 text-align: center;
 outline: 1px solid black;
}

.quest-chars {
    text-align: center;
    text-color: #f5f5f5;
    display: flex;
}

.quest-chars-block {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 7px;
    margin: 5px 0 5px 0;
}

.div-head{
width: 100%;
}

.dev-exit{
float: left;
}