<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<table>
    <thead>

    <div>
        <b>Квест</b><br>
        <i>Выберете персонажа</i>
    </div>

    <tr>
        <th>ID</th>
        <th>Класс</th>
        <th>Здоровье</th>
        <th>Урон</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="сhar : ${сhar}">
        <td th:text="${сhar.id}"></td>
        <td th:text="${сhar.name}"></td>
        <td th:text="${сhar.hp}"></td>
        <td th:text="${сhar.dmg}"></td>
    </tr>
    </tbody>
</table>

</body>

</html>