<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/char.css" th:href="@{/css/char.css}" rel="stylesheet" />
    <link href="../static/img/bonfire.jpg" />

</head>


<body>

<div>
<h2>Кто ты?</h2>
</div>

<div>
<ul th:each="char : ${users}">

<form  class="Divwidth"  action="/saveChars" method="post" th:object="${char}">
    <h2>TEST</h2>
    <p th:text="${char.name}"></p>

    <label type="hidden" for="charId"></label>
    <input  type="hidden" id="charId" name="charId" th:value="${char.id}" />

    <label for="charName">Ваше Имя</label>
    <input id="charName"  name="charName" />

    <button type="submit" class="btn btn-outline-primary">Выбрать</button>
    </form>
</ul>
</div>

</body>