<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/userchars.css" th:href="@{/css/userchars.css}" rel="stylesheet" />
    <link href="../static/img/bonfire.jpg" />

</head>


<body>

<div class="div-head">
    <div>
        <form align="right" action="/logout" method="get">
            <button class="btn btn-outline-primary">Выход</button>
        </form>
    </div>
    <div class="dev-exit">

        <form action="/chars" method="get">
            <button class="btn btn-outline-primary">Создать персонажа</button>
        </form>
    </div>
</div>

<div>
    <table>
        <thead>
        <h1>Мои персонажи</h1>
        <tr>
            <th>Класс</th>
            <th>Имя</th>
            <th>Здоровье</th>
            <th>Урон</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="char : ${users}">
            <td th:text="${char.charclass}"></td>
            <td th:text="${char.charname}"></td>
            <td th:text="${char.hpchar}"></td>
            <td th:text="${char.dmgchar}"></td>

            <td>
                <form action="/startgame">

            <label type="hidden" for="charId"></label>
            <input  type="hidden" id="charId" name="charId" th:value="${char.id}" />

            <button type="submit" class="btn btn-outline-primary">Выбрать</button>

                 </form>

            </td>

            <td>
            <form action="/userchars" method="post">

                    <label type="hidden" for="charName"></label>
                    <input  type="hidden" id="charName" name="charName" th:value="${char.charname}" />

                    <button type="submit" class="btn btn-outline-primary">Удалить</button>
            </form>
            </td>


        </tr>
        </tbody>
    </table>
</div>

</body>